@font-face {
  font-family: "MontserratBold";
  src: url(fonts/Montserrat-Regular.otf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "MontserratLight";
  src: url(fonts/Montserrat-Regular.otf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "MontserratItalics";
  src: url(fonts/Montserrat-Italic.otf) format("truetype");
  font-weight: normal;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
	height: 100vh; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
  font-size: 2em;
  font-family: "MontserratItalics", sans-serif;
  font-weight: normal;
}

h2 {
  font-family: "MontserratBold", sans-serif;
  font-size: 7em;
}
h1,
h2 {
  margin: 0;
  color: #fff;
}
p {
  font-family: 'MontserratLight', sans-serif;
  font-size: 1.2em;
  max-width: 50%;
  text-align: center;
  color: #fff;
}

h1 {
  animation-duration: 3s;
  animation-name: fadein;
}

h2 {
  animation-duration: 3s;
  animation-name: fadein;
}

p {
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.floating-text {
  animation: fadein 1.5s ease-out;
}

